$primary-color:#5c7767;

*{margin: 0;padding: 0;
}
body{
margin: 0;
}
/*header*/
header{background-color: #5c7767;}
ul{list-style-type: none;}
a{text-decoration: none;}
.container{
    margin: auto;
    width: 100%;
    max-width: 1140px;
    /*background-color: rgb(235, 217, 189);*/
    
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header>.container h1>a{color:#eee4d2;}

header>.container nav>ul{
    display:flex;
    justify-content: space-between;
    padding-left: 10px;
    

}
header>.container nav>ul>li>a{
    line-height: 40px;
    color:#eee4d2;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    text-align: center;
}
@media(min-width:768px){
    header>.container nav{width:100%;}

header>.container nav>ul>li{
    position:relative;
}
header>.container nav>ul>li:hover.submenu{
    display: block;
}
header{position:relative}
header h1{
    position: absolute;
    left:50%;
    transform:translateX(-50%)//向X軸項回去50%
}
header nav {
    display: flex;
    justify-content: center;
}
header>.container nav>ul>li{
    margin-left: 20px;
    margin-right: 20px;
}
header>.container nav>ul>li:nth-child(3){margin-right: 100px;margin-left: 220px;}






.submenu{
    display: none;
    position: absolute;
    background-color: rgb(58, 59, 57);
width: 100%;
left:0px;
top:30px;}
.submenu a{color:#eee4d2;line-height: 30px;display: block;text-align: center;
}   
nav li:hover>.submenu{display: block;}
}
/*---------header-end---------*/

/*body*/
/*圖片相關格式*/
.img-fluid{width: 100%;}
.img-rounded{border-radius: 5px;}
/*.img-circle{border-radius: 100%;}*/
.row{
    display:flex;
    flex-wrap: wrap; /*換行*/
}
.row2{
    display:flex;
}
/*文字相關格式*/
.text-center{text-align: center;}
/*四欄式*/
.col-3{
    width: calc(100% / 4 - 30px);
margin:15px;}
/*三欄式*/
.col-4{
    width: calc(100% / 3 - 30px);
margin:15px;}

.col-9{
    width: calc(100% / 1.3333333333 - 30px);
margin:15px;}

.col-8{
    width: calc(100% / 1.5 - 30px);
margin:15px;}


@for $i from 1 through 12 {
    .col-#{$i}{
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
}
       
    

/*768*/
@media (min-width:768px){
    @for $i from 1 through 12 {
        .col-md-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }

    }
}
/*1200*/
@media (min-width:1200px){
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}


@media (min-width:768px){
    .order-md-1{
        order:-1;
    }
    
}
    
/*@media (min-width:768px){
    .order-md-1{
        order:-1;
    }
}

*/
/*上右下左*/
/*margin:0px 15px 30px 15px*/
.col-3>.title>a{
    color:#3d5446;
    font-size: 20px;
}
h2{
    color:#3d5446;
    font-size: 30px;
}
/*頁尾*/
footer{
    background-color: $primary-color;
    padding: 0px 0 20px 0;
}
dt{font-size: 20px;
line-height: 1.2em;}

.col-4>dd>a{color: #2f3c34;}
.col-4>dd>a:hover{color: #98c3a9;}
/*design list*/

.breadcrumb{
    color: #8a857a;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.bul{color: #eee4d2;
    display: flex;align-items: flex-start;
display: block; width: 200px;}


.bul li{margin-bottom: 10px;background-color: #5c7767;text-align: center;
line-height: 35px;border-radius: 10px}

.bul li:hover{background-color: rgb(55, 72, 61);}

main div p{text-align: center}

.breadcrumb a{color: rgb(132, 184, 150);}
.breadcrumb a:hover{color: rgb(55, 72, 61);}
.col-lg-10 h3{color: #3d5446;font-size: 22px;
box-sizing: border-box;padding-left: 35px;}

/*animation*/
/*main img:hover{transition: all .8s ease-in-out;
    transform: scale(0.8);}*/

/*img*/
main img:hover{transition: all .8s ease-in-out;
    transform: scale(0.8);}
/*.img-wrap{
    overflow: hidden;}*/
.img-overlay{
    display: block;
    /*background-color: #2f3c34;*/
    position: relative;
    overflow: hidden;
}

.img-overlay>img{
    vertical-align: top;
}
.new-icon{
    width: 50px;
    line-height: 50px;
    display: block;
    color: #38342c;
    background-color: #5d876d;
    border-radius: 100%;
    position: absolute;
    top: -45px;
    left: -45px;
    text-align: center;
    position: absolute;
    
}
.img-overlay:hover span{transition: all .8s ease-in-out;
    transform: scale(1.2);
    top: 20px;
    left: 20px;}
.col-4 div{text-align: center;}

/*0620*/
/*h1{width: 85%;
background-color: #2e2d2b;}*/

.icon-menu{
    /*float: right;*/
    width: 15%;
    display: block;
    background-color: #9bd089;
    line-height: 45px;
    text-align: center;

}
.flex-space-between{
    justify-content: space-between;
}
/*超過768以上執行*/
@media (min-width: 768px){.icon-menu{
    display: none;
}}
   /*min-width 768 end*/ 
/*小於767以下執行*/
@media (max-width: 767px){

    /*h1{
        // width: 85%;
        float: left;
    }
    */
    .icon-menu:hover + nav{
    left:0px
    }
    nav{
        //viewport width
        //left: -100vw;
        transition: all .3s;}
    
    
header{
    position: relative;
}
header> .container nav{
    width: 100%;
    position:absolute;
    top:65px;
    /*滑入*/
    left:100vw;
    background-color: #5c7767;
   /* float:left;*/
    /*display:none;*/
}

header> .containerb nav.active{
    display:block;
}

header> .container nav>ul>li{
    width: 100%;
   
 }
 header> .container nav>ul>li>a{
    display: block;
 }
 .submenu{
    background-color: #2b3630;
display:none;
 }
 header> .container nav>ul>li:hover .submenu{
    display: block;}
 .submenu>li{line-height:30pt;
    border-bottom: 1px solid black;}
.submenu>li>a{
    color: #eee4d2;
    display: block;
    text-align: center;
}
}
/*.overflow-hidden{
    overflow: hidden;}*/


main>div>h1{margin-left: 10px;}
/*max-width 767 end*/


/*迴圈*/
@for $i from 1 through 10{
    .fz-#{$i}{
    font-size:$i*1em;}
}




