$primary-color:#5c7767;

*{margin: 0;padding: 0;
}
body{
margin: 0;
}
/*header*/
header{background-color: #5c7767;}
ul{list-style-type: none;}
a{text-decoration: none;}
.container{
    margin: auto;
    width: 80%;
    max-width: 1140px;
    /*background-color: rgb(235, 217, 189);*/
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
header>.container>h1>a{color:#eee4d2;}

header>.container>nav>ul{
    display:flex;
    justify-content: center;
    

}
header>.container>nav>ul>li>a{
    line-height: 60px;
    color:#eee4d2;
    font-size: 20px;
    padding-left: 92px;
    padding-right:92px;
}
/*---------header-end---------*/

/*body*/
/*圖片相關格式*/
.img-fluid{width: 100%;}
.img-rounded{border-radius: 5px;}
/*.img-circle{border-radius: 100%;}*/
.row{
    display:flex;
    flex-wrap: wrap; /*換行*/
}
.row2{
    display:flex;
}
/*文字相關格式*/
.text-center{text-align: center;}
/*四欄式*/
.col-3{
    width: calc(100% / 4 - 30px);
margin:15px;}
/*三欄式*/
.col-4{
    width: calc(100% / 3 - 30px);
margin:15px;}

.col-9{
    width: calc(100% / 1.33333 - 30px);
margin:15px;}

.col-8{
    width: calc(100% / 1.5 - 30px);
margin:15px;}



/*上右下左*/
/*margin:0px 15px 30px 15px*/
.col-3>.title>a{
    color:#3d5446;
    font-size: 20px;
}
h2{
    color:#3d5446;
    font-size: 30px;
}
/*頁尾*/
footer{
    background-color: $primary-color;
    padding: 0px 0 20px 0;
}
dt{font-size: 20px;
line-height: 1.2em;}

.col-4>dd>a{color: #2f3c34;}
.col-4>dd>a:hover{color: #98c3a9;}
/*design list*/

.breadcrumb{
    color: #8a857a;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.bul{color: #eee4d2;
    display: flex;align-items: flex-start;
display: block; width: 200px;}


.bul li{margin-bottom: 10px;background-color: #5c7767;text-align: center;
line-height: 35px;border-radius: 10px}

.bul li:hover{background-color: rgb(55, 72, 61);}

main div p{text-align: center}

.breadcrumb a{color: rgb(132, 184, 150);}
.breadcrumb a:hover{color: rgb(55, 72, 61);}
.col-9 h3{color: #3d5446;font-size: 22px;}

/*animation*/
/*main img:hover{transition: all .8s ease-in-out;
    transform: scale(0.8);}*/

/*img*/
main img:hover{transition: all .8s ease-in-out;
    transform: scale(0.8);}
.img-wrap{
    overflow: hidden;}
.img-overlay{
    display: block;
    /*background-color: #2f3c34;*/
    position: relative;
    overflow: hidden;
}

.img-overlay>img{
    vertical-align: top;
}
.new-icon{
    width: 50px;
    line-height: 50px;
    display: block;
    color: #38342c;
    background-color: #5d876d;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
}
main span{transition: all .8s ease-in-out;
    transform: scale(1.5);}



