@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

/*header*/
header {
  background-color: #5c7767;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1140px;
  /*background-color: rgb(235, 217, 189);*/
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header > .container > h1 > a {
  color: #eee4d2;
}

header > .container > nav > ul {
  display: flex;
  justify-content: center;
}

header > .container > nav > ul > li > a {
  line-height: 50px;
  color: #eee4d2;
  font-size: 20px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
}

/*---------header-end---------*/
/*body*/
/*圖片相關格式*/
.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 5px;
}

/*.img-circle{border-radius: 100%;}*/
.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.row2 {
  display: flex;
}

/*文字相關格式*/
.text-center {
  text-align: center;
}

/*四欄式*/
.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 15px;
}

/*三欄式*/
.col-4 {
  width: calc(100% / 3 - 30px);
  margin: 15px;
}

.col-9 {
  width: calc(100% / 1.33333 - 30px);
  margin: 15px;
}

.col-8 {
  width: calc(100% / 1.5 - 30px);
  margin: 15px;
}

.col-1 {
  width: calc(100% / calc(12/ 1) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-2 {
  width: calc(100% / calc(12/ 2) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-3 {
  width: calc(100% / calc(12/ 3) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-4 {
  width: calc(100% / calc(12/ 4) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-5 {
  width: calc(100% / calc(12/ 5) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-6 {
  width: calc(100% / calc(12/ 6) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-7 {
  width: calc(100% / calc(12/ 7) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-8 {
  width: calc(100% / calc(12/ 8) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-9 {
  width: calc(100% / calc(12/ 9) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-10 {
  width: calc(100% / calc(12/ 10) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-11 {
  width: calc(100% / calc(12/ 11) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-12 {
  width: calc(100% / calc(12/ 12) - 30px);
  margin: 0px 15px 40px 15px;
}

/*768*/
@media (min-width: 768px) {
  .col-md-1 {
    width: calc(100% / calc(12/ 1) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-2 {
    width: calc(100% / calc(12/ 2) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-3 {
    width: calc(100% / calc(12/ 3) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-4 {
    width: calc(100% / calc(12/ 4) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-5 {
    width: calc(100% / calc(12/ 5) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-6 {
    width: calc(100% / calc(12/ 6) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-7 {
    width: calc(100% / calc(12/ 7) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-8 {
    width: calc(100% / calc(12/ 8) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-9 {
    width: calc(100% / calc(12/ 9) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-10 {
    width: calc(100% / calc(12/ 10) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-11 {
    width: calc(100% / calc(12/ 11) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-12 {
    width: calc(100% / calc(12/ 12) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
/*1200*/
@media (min-width: 1200px) {
  .col-lg-1 {
    width: calc(100% / calc(12/ 1) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-2 {
    width: calc(100% / calc(12/ 2) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-3 {
    width: calc(100% / calc(12/ 3) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-4 {
    width: calc(100% / calc(12/ 4) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-5 {
    width: calc(100% / calc(12/ 5) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-6 {
    width: calc(100% / calc(12/ 6) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-7 {
    width: calc(100% / calc(12/ 7) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-8 {
    width: calc(100% / calc(12/ 8) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-9 {
    width: calc(100% / calc(12/ 9) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-10 {
    width: calc(100% / calc(12/ 10) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-11 {
    width: calc(100% / calc(12/ 11) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-12 {
    width: calc(100% / calc(12/ 12) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
/*@media screen (max-width: 767px){
.col-md-6{
        width: calc(100% / 2 - 30px); margin: 15px;}  
}
@media screen (min-width: 1200px){
    .col-lg-4{width: calc(100% / 3  - 30px); margin: 15px;}  
    }
*/
/*上右下左*/
/*margin:0px 15px 30px 15px*/
.col-3 > .title > a {
  color: #3d5446;
  font-size: 20px;
}

h2 {
  color: #3d5446;
  font-size: 30px;
}

/*頁尾*/
footer {
  background-color: #5c7767;
  padding: 0px 0 20px 0;
}

dt {
  font-size: 20px;
  line-height: 1.2em;
}

.col-4 > dd > a {
  color: #2f3c34;
}

.col-4 > dd > a:hover {
  color: #98c3a9;
}

/*design list*/
.breadcrumb {
  color: #8a857a;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.bul {
  color: #eee4d2;
  display: flex;
  align-items: flex-start;
  display: block;
  width: 200px;
}

.bul li {
  margin-bottom: 10px;
  background-color: #5c7767;
  text-align: center;
  line-height: 35px;
  border-radius: 10px;
}

.bul li:hover {
  background-color: #37483d;
}

main div p {
  text-align: center;
}

.breadcrumb a {
  color: #84b896;
}

.breadcrumb a:hover {
  color: #37483d;
}

.col-9 h3 {
  color: #3d5446;
  font-size: 22px;
}

/*animation*/
/*main img:hover{transition: all .8s ease-in-out;
    transform: scale(0.8);}*/
/*img*/
main img:hover {
  transition: all 0.8s ease-in-out;
  transform: scale(0.8);
}

/*.img-wrap{
    overflow: hidden;}*/
.img-overlay {
  display: block;
  /*background-color: #2f3c34;*/
  position: relative;
  overflow: hidden;
}

.img-overlay > img {
  vertical-align: top;
}

.new-icon {
  width: 50px;
  line-height: 50px;
  display: block;
  color: #38342c;
  background-color: #5d876d;
  border-radius: 100%;
  position: absolute;
  top: -45px;
  left: -45px;
  text-align: center;
  position: absolute;
}

.img-overlay:hover span {
  transition: all 0.8s ease-in-out;
  transform: scale(1.2);
  top: 20px;
  left: 20px;
}

.col-4 div {
  text-align: center;
}

/*0620*/
/*h1{width: 85%;
background-color: #2e2d2b;}*/
.icon-menu {
  float: right;
  width: 15%;
  display: block;
  background-color: #9bd089;
  line-height: 45px;
  text-align: center;
}

/*超過768以上執行*/
@media (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}
/*min-width 768 end*/
/*小於767以下執行*/
@media (max-width: 767px) {
  header > .container > nav {
    width: 100%;
    float: left;
    display: none;
  }

  header > .container > nav.active {
    display: block;
  }

  header > .container > nav > ul {
    display: block;
  }

  header > .container > nav > ul > li {
    width: 100%;
  }

  header > .container > nav > ul > li > a {
    display: block;
  }

  .overflow-hidden {
    overflow: hidden;
  }
}
/*max-width 767 end*/
/*迴圈*/
.fz-1 {
  font-size: 1em;
}

.fz-2 {
  font-size: 2em;
}

.fz-3 {
  font-size: 3em;
}

.fz-4 {
  font-size: 4em;
}

.fz-5 {
  font-size: 5em;
}

.fz-6 {
  font-size: 6em;
}

.fz-7 {
  font-size: 7em;
}

.fz-8 {
  font-size: 8em;
}

.fz-9 {
  font-size: 9em;
}

.fz-10 {
  font-size: 10em;
}