head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title susi 
  link(rel='stylesheet' href='public/css/styles.css')
  body
      header
        .container.overflow-hidden
            a.icon-menu(href="#") menu 
              h1
                a(href='#') kumo's Portfolio
              nav
                ul
                  li
                    a(href='aboutme.html') 自我介紹
                  li
                    a(href='#') 學習歷程
                  li
                    a(href='design-list.html') 網頁設計作品
                  li
                    a(href='#') APP設計作品
      .container
        .row
            .col-12.col-md-6 
              p 01
            .col-12.col-md-6 
              img.img-fluid.img-rounded(src='public/images/k (1).png' alt='')
            .col-12.col-md-6
              p 02
            .col-12.col-md-6
              img.img-fluid.img-rounded(src='public/images/k (1).png' alt='')

      footer
          .container
            .row2.text-center
              dl.col-md-4
                dt &#x6A19;&#x984C;01
                dd
                  a(href='') &#x9805;&#x76EE;01
                dd
                  a(href='') &#x9805;&#x76EE;02
                dd
                  a(href='') &#x9805;&#x76EE;03
                dd
                  a(href='') &#x9805;&#x76EE;04
              dl.col-md-4
                dt &#x6A19;&#x984C;02
                dd
                  a(href='') &#x9805;&#x76EE;01
                dd
                  a(href='') &#x9805;&#x76EE;02
                dd
                  a(href='') &#x9805;&#x76EE;03
                dd
                  a(href='') &#x9805;&#x76EE;04
              dl.col-md-4
                dt &#x6A19;&#x984C;03
                dd
                  a(href='') &#x9805;&#x76EE;01
                dd
                  a(href='') &#x9805;&#x76EE;02
                dd
                  a(href='') &#x9805;&#x76EE;03
                dd
                  a(href='') &#x9805;&#x76EE;04
              dl.col-md-4
                dt &#x6A19;&#x984C;04
                dd
                  a(href='') &#x9805;&#x76EE;01
                dd
                  a(href='') &#x9805;&#x76EE;02
                dd
                  a(href='') &#x9805;&#x76EE;03
                dd
                  a(href='') &#x9805;&#x76EE;04
              dl.col-md-4
                dt &#x6A19;&#x984C;05
                dd
                  a(href='') &#x9805;&#x76EE;01
                dd
                  a(href='') &#x9805;&#x76EE;02
                dd
                  a(href='') &#x9805;&#x76EE;03
                dd
                  a(href='') &#x9805;&#x76EE;04
          .text-center
            p copyright
  