doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title kumo&apos;s Portfolio
  link(rel='stylesheet' href='public/css/styles.css')
body
    header
        .container
            h1
                a(href='#') kumo&apos;s Portfolio
            nav
                ul
                    li
                        a(href='#') &#x81EA;&#x6211;&#x4ECB;&#x7D39;
                    li
                        a(href='#') &#x5B78;&#x7FD2;&#x6B77;&#x7A0B;
                    li
                        a(href='design-list.html') &#x7DB2;&#x9801;&#x8A2D;&#x8A08;&#x4F5C;&#x54C1;
                    li
                        a(href='#') APP&#x8A2D;&#x8A08;&#x4F5C;&#x54C1;
    // -headerend
    // -breadcrumb
    .container
        .row
            .breadcrumb
                p
                    a(href='index.html') &#x9996;&#x9801;
                    | &gt;
                    a(href='design-list.html') &#x7DB2;&#x9801;&#x8A2D;&#x8A08;&#x4F5C;&#x54C1;
    // -breadcrumbend
    // -sectiion
    .row
        aside.col-3
            div
                .bul
                    ul
                        li &#x4F5C;&#x54C1;&#x540D;&#x7A31;
                        li &#x4F5C;&#x54C1;&#x540D;&#x7A31;
                        li &#x4F5C;&#x54C1;&#x540D;&#x7A31;
                        li &#x4F5C;&#x54C1;&#x540D;&#x7A31;
                        li &#x4F5C;&#x54C1;&#x540D;&#x7A31;
        
        main.col-9
            div
                h3 &#x6700;&#x65B0;&#x4F5C;&#x54C1;
            div
                .row
                    .col-4
                        // <div class="img-wrap">
                        a.img-overlay(href='#')
                        img.img-fluid(src='public\images\k (1).png' alt='')
                        span.new-icon Q&#x5BF6;
                        div &#x4F5C;&#x54C1;&#x5167;&#x5BB9;
                        // </div>
                    .col-4
                        // <div class="img-wrap">
                        a.img-overlay(href='#')
                        img.img-fluid(src='public\images\k (1).png' alt='')
                        span.new-icon Q&#x5BF6;
                        div &#x4F5C;&#x54C1;&#x5167;&#x5BB9;
                        // </div>
                    .col-4
                        // <div class="img-wrap">
                        a.img-overlay(href='#')
                        img.img-fluid(src='public\images\k (1).png' alt='')
                        span.new-icon Q&#x5BF6;
                        div &#x4F5C;&#x54C1;&#x5167;&#x5BB9;
                        // </div>
                    .col-4
                        // <div class="img-wrap">
                        a.img-overlay(href='#')
                        img.img-fluid(src='public\images\k (1).png' alt='')
                        span.new-icon Q&#x5BF6;
                        div &#x4F5C;&#x54C1;&#x5167;&#x5BB9;
                        // </div>
                    .col-4
                        // <div class="img-wrap">
                        a.img-overlay(href='#')
                        img.img-fluid(src='public\images\k (1).png' alt='')
                        span.new-icon Q&#x5BF6;
                        div &#x4F5C;&#x54C1;&#x5167;&#x5BB9;
                        // </div>
                    .col-4
                        // <div class="img-wrap">
                        a.img-overlay(href='#')
                        img.img-fluid(src='public\images\k (1).png' alt='')
                        span.new-icon Q&#x5BF6;
                        div &#x4F5C;&#x54C1;&#x5167;&#x5BB9;
                        // </div>
    // -footer
    footer
        .container
            .row2.text-center
                dl.col-4
                    dt &#x6A19;&#x984C;01
                    dd
                    a(href='') &#x9805;&#x76EE;01
                    dd
                    a(href='') &#x9805;&#x76EE;02
                    dd
                    a(href='') &#x9805;&#x76EE;03
                    dd
                    a(href='') &#x9805;&#x76EE;04
                dl.col-4
                    dt &#x6A19;&#x984C;02
                    dd
                    a(href='') &#x9805;&#x76EE;01
                    dd
                    a(href='') &#x9805;&#x76EE;02
                    dd
                    a(href='') &#x9805;&#x76EE;03
                    dd
                    a(href='') &#x9805;&#x76EE;04
                dl.col-4
                    dt &#x6A19;&#x984C;03
                    dd
                    a(href='') &#x9805;&#x76EE;01
                    dd
                    a(href='') &#x9805;&#x76EE;02
                    dd
                    a(href='') &#x9805;&#x76EE;03
                    dd
                    a(href='') &#x9805;&#x76EE;04
                dl.col-4
                    dt &#x6A19;&#x984C;04
                    dd
                    a(href='') &#x9805;&#x76EE;01
                    dd
                    a(href='') &#x9805;&#x76EE;02
                    dd
                    a(href='') &#x9805;&#x76EE;03
                    dd
                    a(href='') &#x9805;&#x76EE;04
                dl.col-4
                    dt &#x6A19;&#x984C;05
                    dd
                    a(href='') &#x9805;&#x76EE;01
                    dd
                    a(href='') &#x9805;&#x76EE;02
                    dd
                    a(href='') &#x9805;&#x76EE;03
                    dd
                    a(href='') &#x9805;&#x76EE;04
    .text-center
        p copyright
