doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title kumo&apos;s Portfolio 
  link(rel='stylesheet' href='public/css/styles.css')
body
  header
    .container.overflow-hidden
      a.icon-menu(href="#") menu 
      h1
        a(href='#') kumo's Portfolio
      nav
        ul
          li
            a(href='pug/index.pug') 自我介紹
          li
            a(href='#') 學習歷程
          li
            a(href='design-list.html') 網頁設計作品
          li
            a(href='#') APP設計作品

  .container
     h2.text-center 作品預覽
      .row
        .col-md-2.col-lg-4
            img.img-fluid.img-rounded(src='public/images/k (1).png' alt='')
            p.title.text-center 
            a(href='#') 小貓熊 OK
            p.desc.text-center 內容
        .col-md-2.col-lg-4
            img.img-fluid.img-rounded(src='public/images/k (2).png' alt='')
            p.title.text-center 
            a(href='#') 小貓熊 NO
            p.desc.text-center 內容
        .col-md-2.col-lg-4
            img.img-fluid.img-rounded(src='public/images/k (3).png' alt='')
            p.title.text-center
            a(href='#') 小貓熊 Sad
            p.desc.text-center 內容
        .col-md-2.col-lg-4
            img.img-fluid.img-rounded(src='public/images/k (4).png' alt='')
            p.title.text-center
            a(href='#') 小貓熊 rasie hand
            p.desc.text-center 內容
        .col-md-2.col-lg-4
            img.img-fluid.img-rounded(src='public/images/k (5).png' alt='')
            p.title.text-center
            a(href='#') 小貓熊 shine
            p.desc.text-center 內容
        .col-md-2.col-lg-4
            img.img-fluid.img-rounded(src='public/images/k (6).png' alt='')
            p.title.text-center
            a(href='#') 小貓熊 angry
            p.desc.text-center 內容
        .col-md-2.col-lg-4
            img.img-fluid.img-rounded(src='public/images/k (7).png' alt='')
            p.title.text-center
            a(href='#') 小貓熊 nervous
            p.desc.text-center 內容
        .col-md-2.col-lg-4
            img.img-fluid.img-rounded(src='public/images/k (8).png' alt='')
            p.title.text-center
            a(href='#') 小貓熊 靈光一閃
            p.desc.text-center 內容
  footer
    .container
      .row2.text-center
        dl.col-md-4
          dt &#x6A19;&#x984C;01
          dd
            a(href='') &#x9805;&#x76EE;01
          dd
            a(href='') &#x9805;&#x76EE;02
          dd
            a(href='') &#x9805;&#x76EE;03
          dd
            a(href='') &#x9805;&#x76EE;04
        dl.col-md-4
          dt &#x6A19;&#x984C;02
          dd
            a(href='') &#x9805;&#x76EE;01
          dd
            a(href='') &#x9805;&#x76EE;02
          dd
            a(href='') &#x9805;&#x76EE;03
          dd
            a(href='') &#x9805;&#x76EE;04
        dl.col-md-4
          dt &#x6A19;&#x984C;03
          dd
            a(href='') &#x9805;&#x76EE;01
          dd
            a(href='') &#x9805;&#x76EE;02
          dd
            a(href='') &#x9805;&#x76EE;03
          dd
            a(href='') &#x9805;&#x76EE;04
        dl.col-md-4
          dt &#x6A19;&#x984C;04
          dd
            a(href='') &#x9805;&#x76EE;01
          dd
            a(href='') &#x9805;&#x76EE;02
          dd
            a(href='') &#x9805;&#x76EE;03
          dd
            a(href='') &#x9805;&#x76EE;04
        dl.col-md-4
          dt &#x6A19;&#x984C;05
          dd
            a(href='') &#x9805;&#x76EE;01
          dd
            a(href='') &#x9805;&#x76EE;02
          dd
            a(href='') &#x9805;&#x76EE;03
          dd
            a(href='') &#x9805;&#x76EE;04
    .text-center
      p copyright